[submodule "vendor/mavlink_libv2"]
	path = vendor/mavlink_libv2
	url = https://github.com/mavlink/c_library_v2
[submodule "vendor/spdlog"]
	path = vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "vendor/cxxopts"]
	path = vendor/cxxopts
	url = https://github.com/jarro2783/cxxopts
